@use "../../utilities/variables" as var;

.iconContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
  a {
    color: var.$dark-blue;
    text-shadow: var.$text-shad;
  }
  a:hover {
    opacity: 0.5;
  }
  #facebook {
    color: var.$bright-gold;
    text-shadow: var.$div-shodow;
  }
  #git {
    color: var.$red;
  }
  #linkedin {
    color: var.$green;
  }
  #insta {
    color: var.$violet;
  }
}

.footerWrapper {
  left: 0;
  padding: 0 auto;
  padding-top: 5rem;

  #container {
    padding-top: 2rem;

    // border: solid red($color: #000000);
  }
}

@media only screen and (min-width: 1px) {
  #container {
    // style rules here.
    width: 100%;
  }
}
