@use "../../utilities/variables" as var;

.iconContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
  a {
    color: var.$dark-blue;
  }
  a:hover {
    opacity: 0.5;
  }
}

.footerWrapper {
  left: 0;
  padding: 0;
  padding-top: 5rem;
}
