@use "../utilities/variables" as var;
@use "../utilities/elements";
.image {
  object-fit: cover;
  height: 100%;
}

.chevronWrapper {
  @extend %wideButtonStyles;
}
.chevronWrapper:hover {
  opacity: 0.5;
  cursor: pointer;
}
.chevronDown,
.chevronUp {
  position: relative;
  text-align: center;
  margin-bottom: 6px;
  height: 0.8rem;
  width: 4rem;
  border-radius: 10px;
}
.chevronDown:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: var.$off-gold;
  transform: skew(0deg, 20deg);
}
.chevronDown:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: var.$off-gold;
  transform: skew(0deg, -20deg);
}

.chevronUp:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: var.$off-gold;
  transform: skew(0deg, -20deg);
}
.chevronUp:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: var.$off-gold;
  transform: skew(0deg, 20deg);
}

#card:hover {
  cursor: pointer;
  opacity: 0.6;
}

.limitMessage {
  color: gray;
  padding: 1rem;
}
