@use "../../utilities/elements";
@use "../../utilities/variables" as var;

.container > img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  display: flex;
}

.heading {
  @extend %headingStyles;
}

.image {
  box-shadow: var.$div-shodow;
}
.download {
  padding: 1rem;
  @extend %wideButtonStyles;
}

.download:hover {
  cursor: pointer;
  opacity: 0.6;
}

.download:focus {
  cursor: pointer;
  opacity: 0.6;
  width: 90%;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.downloadingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .text {
    margin-right: 2rem;
    color: var.$dark-gold;
    font-weight: 800;
    font-size: 1.5rem;
  }
}
.dotFlashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var.$dark-gold;
  color: var.$dark-gold;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dotFlashing::before,
.dotFlashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dotFlashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var.$dark-gold;
  color: var.$dark-gold;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dotFlashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var.$dark-gold;
  color: var.$dark-gold;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var.$dark-gold;
  }
  50%,
  100% {
    background-color: rgba(194, 142, 56, 0.2);
  }
}
