@use "../../utilities/elements";
@use "../../utilities/variables" as var;

.container > img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  display: flex;
}

.heading {
  @extend %headingStyles;
}

.image {
  box-shadow: var.$div-shodow;
}
.download {
  // border: solid black;
  padding: 1rem;
  @extend %wideButtonStyles;
}

.download:hover {
  cursor: pointer;
  opacity: 0.6;
}

.download:focus {
  cursor: pointer;
  opacity: 0.6;
  width: 90%;
}
