@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  color: white;
  --black-font--: #58585800;
  --primary: #51396a;
  --light: #ece1f6;
  font-family: "Anton", sans-serif;
}

body {
  background: radial-gradient(
    circle at 60%,
    #eee,
    #eee 20%,
    #ece1f6 90%,
    #51396a 75%
  );
}

/* Mobile */
@media only screen and (max-width: 390px) {
  body {
    background: radial-gradient(
      circle at 50%,
      #eee,
      #eee 20%,
      #ece1f6 92%,
      #51396a 75%
    );
  }
}

/* Desktop */
@media only screen and (min-width: 1400px) {
  body {
    background: radial-gradient(
      circle at 50%,
      #eee,
      #eee 20%,
      #ece1f6 80%,
      #51396a 75%
    );
  }
}
