@use "./variables" as var;

// General heading styles for the current image begin viewed and previous images.
%headingStyles {
  font-size: var.$heading-size;
  font-weight: var.$bold-text;
}

%buttonStyles {
  all: unset;
  color: var.$button-font-color;
  border: solid var.$button-border-color;
  background-color: var.$button-background-color;
  border-radius: var.$button-radius;
  padding: var.$button-padding;
  border-width: var.$button-border-width;
}

%wideButtonStyles {
  justify-content: center;
  display: flex;
  padding: 0.8em 0.4rem 0.4rem 0.4rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: var.$very-light-blue;
  box-shadow: var.$div-shodow;
}
