// Font Import
@import url("https://fonts.cdnfonts.com/css/sf-wonder-comic");
@import url("https://fonts.cdnfonts.com/css/cousine");

// Colors
$dark-gold: #c28e38;
$bright-gold: #e0a738;
$off-gold: #d2a800;
$red: #e81313;
$orange: #fc9432;
$yellow: #fcce14;
$green: #008a0e;
$blue: #1071e5;
$violet: #635dff;
$dark-blue: #02026a;
$very-light-blue: #f2f2ff;

// Color Attributes
$k: #{$red};
$i: #{$orange};
$d-1: #{$yellow};
$d-2_o: #{$dark-gold};
$a: #{$green};
$r: #{$blue};
$t: #{$violet};

// Line Weights
$heavy-line: 0.08rem;
$thin-line: 0.05rem;

// Font Weight
$bold-text: 800;

// Radii
$button-radius: 12px;
$input-radius: 10px;

// Font Size
$logo-size: 4rem;
$heading-size: 2rem;

// Button
$button-font-color: #{$off-gold};
$button-border-color: #{$off-gold};
$button-background-color: #{$very-light-blue};
$button-radius: 1.33rem;
$button-padding: 0.5rem 1.5rem 0.5rem 1.5rem;
$button-border-width: 3px;

// Font Families
$logo-font-family: "SF Wonder Comic Inline", sans-serif;
$general-font-family: "Cousine", sans-serif;

//Shadow
$div-shodow: 0 0 10px 1px rgb(202, 202, 202);
$text-shad: 1px 1px 0px #ff0000;
